<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzit.mapper.XiangqingMapper">

    <sql id="xiangqingBaseColumnSql">
        xiangqingid,
        orderid,
        bookid,
        count,
        price
    </sql>

    <sql id="xiangqingBaseWhereSql">
        <if test="map!=null">
            <where>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.xiangqingid)">
                    xiangqingid = #{map.xiangqingid}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.orderid)">
                    AND orderid = #{map.orderid}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.bookid)">
                    AND bookid = #{map.bookid}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.count)">
                    AND count = #{map.count}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.price)">
                    AND price = #{map.price}
                </if>
            </where>
        </if>
    </sql>

    <insert id="insertXiangqing" parameterType="com.hzit.entity.Xiangqing">
        INSERT INTO xiangqing(
        <include refid="xiangqingBaseColumnSql"/>
        )VALUES(
            #{xiangqingid},
            #{orderid},
            #{bookid},
            #{count},
            #{price}
        )
    </insert>

    
    <delete id="deleteXiangqingByXiangqingid" parameterType="Integer">
        DELETE FROM xiangqing WHERE xiangqingid = #{xiangqingid}
    </delete>

    <update id="updateXiangqing" parameterType="com.hzit.entity.Xiangqing">
        UPDATE xiangqing
        <set>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(orderid)">
                orderid = #{orderid} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(bookid)">
                bookid = #{bookid} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(count)">
                count = #{count} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(price)">
                price = #{price} ,
            </if>
        </set>
        WHERE xiangqingid = #{xiangqingid}
    </update>

    <select id="searchXiangqingByParams" parameterType="map" resultMap="xiangqingMap">
        SELECT
        <include refid="xiangqingBaseColumnSql"/>
        FROM xiangqing
        <include refid="xiangqingBaseWhereSql"/>
    </select>

    <resultMap type="com.hzit.entity.Xiangqing" id="xiangqingMap">
        <id column="xiangqingid" property="xiangqingid"/>
        <result column="orderid" property="orderid"/>
        <result column="bookid" property="bookid"/>
        <result column="count" property="count"/>
        <result column="price" property="price"/>
    </resultMap>

</mapper>
